%h1
  = @user.firstname + ' ' + @user.lastname
%h4
  = @user.email

%p
  #{@user.firstname}'s latest reviews:
  %ul
    - @user.reviews.order("created_at").last(5).each do |review|
      %li
        = link_to review.product.title, category_product_path(review.product.category, review.product)
        (#{review.product.category.name}), rated #{review.rating} on #{review.created_at.strftime('%d-%m-%y')}
