.jumbotron.text-center
  %h1 Welcome to KnowYourMusic!
  %h3
    Share your thoughts on your favourite pieces of music.<br>
    <b>Any</b> artist, <b>any</b> genre, <b>any</b>time.
  - if not current_user
    = link_to "Join us!", new_user_registration_path, class: 'btn btn-lg btn-primary'

.col-md-12
  %h1
    Categories
    - if current_user && current_user.admin?
      %small.float-right
        = link_to new_category_path do
          %span.glyphicon.glyphicon-plus
          New Category
- if categories.empty?
  There are no categories. Why not
  =link_to 'create one just now?', new_category_path
- categories.each_slice(3) do |slice|
  .row
    - slice.each do |category|
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3.no-vertical-margins
              = link_to category.name, category
              - if current_user && current_user.admin?
                %small.float-right
                  = link_to edit_category_path(category) do
                    %span.glyphicon.glyphicon-edit
                    Edit
                  = link_to category, method: :delete, data: { confirm: 'Are you sure?' } do
                    %span.glyphicon.glyphicon-remove
                    Remove
          .panel-body
            - if category.products.empty?
              No products in this category. Yet.
            %ol
              - category.latest_five_products.each do |product|
                %li= link_to product.title, category_product_path(category, product)
            .clear-both
              %p.left

              %p.right
                = link_to category_products_path(category) do
                  %span.glyphicon.glyphicon-th-list
                  Show all products
