.jumbotron
  %h1
    = link_to product.category.name, product.category
    |
    = product.title

%table.table.summary-table
  %tr
    %td.left Description
    %td= product.description
  %tr
    %td.left Added by
    %td= link_to user.full_name, user
  %tr
    %td.left Price
    %td= product.price_formatted
  %tr
    %td.left Reviews
    %td
      - unless reviews.empty?
        = render reviews
      - else
        This product has no reviews.
  %tr
    %td.left Add review
    %td= render 'reviews/form'
  - if product.user == current_user or current_user.admin?
    %td.left Actions
    %td
      = link_to 'Edit', edit_category_product_path(category.id, product.id)
      |
      = link_to 'Delete', category_product_path(category, product), method: :delete, confirm: 'Are you sure?'
